{{#partial "content"}}

    <br><br><br><br><br><br>
    <form style="background-color:black;color:black;opacity:0.7;text-align:center" action="/add" method="post">
        <h1 style="padding-top:1%;color:black">Add house!!!!!!</h1>
        <label for="name" style="color:white"> Name</label><br>
        <input id="name" style="color:black" name="name" type="text"><br>
        <label for="email" style="color:white">email</label><br>
        <input id="email" Name="email" type="text" style="color:black"><br>
<!--
            <label for="exampleFormControlFile1">property</label>
            <input type="file"  name="property" class="form-control-file" id="exampleFormControlFile1">-->
        <label for="link" style="color:white">link</label><br>
        <input id="link" style="color:black" name="link" type="text"><br>
        <label for="location" style="color:white">location</label><br>
        <input id="location" style="color:black" name="location" type="text"><br>
       <label for="purpose" style="color:white">purpose</label><br>
       <input id="purpose" name="purpose" style="color:black" type="text"><br><br>
        <label for="meansOfPayment" style="color:white">meansOfPayment</label><br>
        <input id="meansOfPayment" name="meansOfPayment" style="color:black" type="text"><br><br>
       <label for="price" style="color:white">price</label><br>
        <input id="price" name="price" style="color:black" type="text"><br><br>
        <button type="submit" class="btn btn-default" >Add</button><br>
    </form>

    <!--<form class="was-validated">
        <div class="mb-3">
            <label for="validationTextarea">Textarea</label>
            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
            <div class="invalid-feedback">
                Please enter a message in the textarea.
            </div>
        </div>

        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
            <label class="custom-control-label" for="customControlValidation1">Check this custom checkbox</label>
            <div class="invalid-feedback">Example invalid feedback text</div>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" required>
            <label class="custom-control-label" for="customControlValidation2">Toggle this custom radio</label>
        </div>
        <div class="custom-control custom-radio mb-3">
            <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" required>
            <label class="custom-control-label" for="customControlValidation3">Or toggle this other custom radio</label>
            <div class="invalid-feedback">More example invalid feedback text</div>
        </div>

        <div class="form-group">
            <select class="custom-select" required>
                <option value="">Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <div class="invalid-feedback">Example invalid custom select feedback</div>
        </div>

        <div class="custom-file">
            <input type="file" class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile"></label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>
    </form>-->
    <form>

    </form>
{{/partial}}

{{> layout.hbs}}